In [ ]:
import pandas as pd

Чтение файла

In [ ]:
def create_string(file_path):
    f = open(file_path, 'r', encoding='utf-8')
    text = f.read()
    return text

Строка в DataFrame посимвольно

In [155]:
def create_char_dataframe(pattern):
    chars = list(pattern)  
    df = pd.DataFrame({'symb': chars})
    df = df[::-1].reset_index(drop=True)
    return df

Просто читаем файл с паттерном. Делаем строку, которую будем проверять и DataFrame для удобства присваивания значений

In [180]:
pattern_path = 'benchmarks/good_w_4.txt'

pattern = create_string(pattern_path)
df = create_char_dataframe(pattern)

df

   symb
0     а
1     в
2     д
3
4     и
..  ...
87    л
88    ы
89    т
90    у
91    Б

[92 rows x 1 columns]

Присваиваем значения каждому символу

In [ ]:
char_min_numbers = {}
    
for i in range(1, df.shape[0]):
    current_char = df.at[i, 'symb']
    
    if current_char in char_min_numbers:
        df.at[i, 'num'] = char_min_numbers[current_char]
    else:
        new_number = i
        df.at[i, 'num'] = new_number
        char_min_numbers[current_char] = new_number
        
first_char = df.at[0, 'symb']
char_count = df['symb'].value_counts()[first_char]

if char_count == 1:
    df.at[0, 'num'] = len(df)
else:
    df.at[0, 'num'] = char_min_numbers.get(first_char, 1)

df

   symb   num
0     а   6.0
1     в   1.0
2     д   2.0
3         3.0
4     и   4.0
..  ...   ...
87    л   5.0
88    ы   8.0
89    т  24.0
90    у  31.0
91    Б  91.0

[92 rows x 2 columns]

Превращаем в словарь для быстрого поиска

In [ ]:
df = df.drop_duplicates()
symbol_value_dict = dict(zip(df['symb'], df['num']))

{'а': 6.0,
 'в': 1.0,
 'д': 2.0,
 ' ': 3.0,
 'и': 4.0,
 'л': 5.0,
 'ы': 8.0,
 'м': 9.0,
 ',': 15.0,
 'н': 17.0,
 'к': 18.0,
 'о': 19.0,
 'с': 21.0,
 'т': 24.0,
 'й': 27.0,
 'ж': 30.0,
 'у': 31.0,
 'р': 32.0,
 'ь': 39.0,
 'е': 42.0,
 'ю': 45.0,
 'ш': 47.0,
 'п': 53.0,
 ';': 64.0,
 'б': 78.0,
 'Б': 91.0}

Читаем файл с текстом, в котором будем искать

In [186]:
text_path = 'benchmarks/good_t_4.txt'
text = create_string(text_path)

In [187]:
def find_pattern_in_text(pattern, text):
    pattern_len = len(pattern)

    for i in range(pattern_len, len(text)):
        j = pattern_len - 1

        while (text[i] == pattern[j]) and (j >= 0):
            i-=1
            j-=1

        if j == -1:
            res = f'Первое вхождение подстроки: {i+1}'
            return res
        elif i in symbol_value_dict:
            num = symbol_value_dict[i]
            i += num
        else:
            i+=pattern_len

    res = 'Подстрока не найдена'
    return

In [188]:
print(find_pattern_in_text(pattern, text))

Первое вхождение подстроки: 9522