In [1]:
import pandas as pd

In [20]:
data = pd.read_csv('algorithm_results.csv')
data

  benchmarks   best     B-M-H      K-M-P
0      bad 1  K-M-P  0.002784   0.001128
1      bad 2  B-M-H  0.001992   0.004654
2      bad 3  B-M-H  0.005197   0.428322
3      bad 4  B-M-H  0.034141  56.501302
4     good 1  K-M-P  0.002444   0.003266
5     good 2  B-M-H  0.004921   0.005399
6     good 3  B-M-H  0.014134   0.042166
7     good 4  K-M-P  0.007355   0.007795

In [21]:
exclude_cols = ['benchmarks', 'best']

compare_cols = [col for col in data.columns if col not in exclude_cols]
data['best'] = data[compare_cols].idxmin(axis=1)

data

  benchmarks   best     B-M-H      K-M-P
0      bad 1  K-M-P  0.002784   0.001128
1      bad 2  B-M-H  0.001992   0.004654
2      bad 3  B-M-H  0.005197   0.428322
3      bad 4  B-M-H  0.034141  56.501302
4     good 1  B-M-H  0.002444   0.003266
5     good 2  B-M-H  0.004921   0.005399
6     good 3  B-M-H  0.014134   0.042166
7     good 4  B-M-H  0.007355   0.007795

In [22]:
data.to_csv('algorithm_results.csv', index=False)